<a href="https://colab.research.google.com/github/Zoyaarshiya/pandas/blob/main/Boolean%20filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd

df = pd.read_csv('titanic.csv')
display(df.head())

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0

In [24]:
df

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,0

In [46]:
#1.WAQ to retrieve all passengers who embarked from southampton(embarked == 'S')

df[df['embarked'] == 'S']

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,1,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1295,3,"Windelov, Mr. Einar",male,21,0,0,SOTON/OQ 3101317,7.2500,NaN,S,0
1296,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,NaN,S,0
1297,3,"Wiseman, Mr. Phillippe",male,28,0,0,A/4. 34244,7.2500,NaN,S,0
1298,3,"Wittevrongel, Mr. Camille",male,36,0,0,345771,9.5000,NaN,S,0
1308,3,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.8750,NaN,S,0

In [26]:
#2.WAQ to find passengers who paid a fare between 20 and 40 units of currency

df[(df['fare'] > 20) & (df['fare'] < 40)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
5,1,"Anderson, Mr. Harry",male,48.0,0,0,19952,26.550,E12,S,1
14,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.000,A23,S,1
15,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.925,NaN,S,0
22,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C,1
25,1,"Birnbaum, Mr. Jakob",male,25.0,0,0,13905,26.000,NaN,C,0
...,...,...,...,...,...,...,...,...,...,...,...
1210,3,"Skoog, Mr. Wilhelm",male,40.0,1,4,347088,27.900,NaN,S,0
1211,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.900,NaN,S,0
1265,3,"Van Impe, Miss. Catharina",female,10.0,0,2,345773,24.150,NaN,S,0
1266,3,"Van Impe, Mr. Jean Baptiste",male,36.0,1,1,345773,24.150,NaN,S,0
1267,3,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.150,NaN,S,0

In [31]:
#3. WAQ to find passengers whose age is missing(age == NaN)

df[df['age'].isna()]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
15,1,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,0
37,1,"Bradley, Mr. George (""George Arthur Brayton"")",male,NaN,0,0,111427,26.5500,NaN,S,1
40,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C,0
46,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,0
59,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C,1
...,...,...,...,...,...,...,...,...,...,...,...
1293,3,"Williams, Mr. Howard Hugh ""Harry""",male,NaN,0,0,A/5 2466,8.0500,NaN,S,0
1297,3,"Wiseman, Mr. Phillippe",male,NaN,0,0,A/4. 34244,7.2500,NaN,S,0
1302,3,"Yousif, Mr. Wazli",male,NaN,0,0,2647,7.2250,NaN,C,0
1303,3,"Yousseff, Mr. Gerious",male,NaN,0,0,2627,14.4583,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0

In [32]:
#4.WAQ to retrieve the passengers who had siblings or spouses aboard the titanic

df[df['sibsp'] > 0]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,0
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,1
...,...,...,...,...,...,...,...,...,...,...,...
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0000,1,0,363272,7.0000,NaN,S,1
1299,3,"Yasbeck, Mr. Antoni",male,27.0000,1,0,2659,14.4542,NaN,C,0
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15.0000,1,0,2659,14.4542,NaN,C,1
1304,3,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,0

In [35]:
#5. WAQ to find passengers who survived and paid more than median fare

df[(df['survived'] == 1) & (df['fare'] > df['fare'].median())]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,1
5,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,1
6,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,1
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,1
...,...,...,...,...,...,...,...,...,...,...,...
1189,3,"Sandstrom, Miss. Marguerite Rut",female,4.0000,1,1,PP 9549,16.7000,G6,S,1
1247,3,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S,1
1256,3,"Touma, Master. Georges Youssef",male,7.0000,1,1,2650,15.2458,NaN,C,1
1257,3,"Touma, Miss. Maria Youssef",female,9.0000,1,1,2650,15.2458,NaN,C,1
1258,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.0000,0,2,2650,15.2458,NaN,C,1

In [40]:
df['age'] = df['age'].fillna(df['age'].median()).round().astype(int)

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,1,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
1304,3,"Zabour, Miss. Hileni",female,14,1,0,2665,14.4542,NaN,C,0
1305,3,"Zabour, Miss. Thamine",female,28,1,0,2665,14.4542,NaN,C,0
1306,3,"Zakarian, Mr. Mapriededer",male,26,0,0,2656,7.2250,NaN,C,0
1307,3,"Zakarian, Mr. Ortin",male,27,0,0,2670,7.2250,NaN,C,0
1308,3,"Zimmerman, Mr. Leo",male,29,0,0,315082,7.8750,NaN,S,0

In [41]:
#6. WAQ to find the passengers who were under the age of 18

df[df['age'] < 18]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
1,1,"Allison, Master. Hudson Trevor",male,1,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,0
53,1,"Carrau, Mr. Jose Pedro",male,17,0,0,113059,47.1000,NaN,S,0
54,1,"Carter, Master. William Thornton II",male,11,1,2,113760,120.0000,B96 B98,S,1
55,1,"Carter, Miss. Lucile Polk",female,14,1,2,113760,120.0000,B96 B98,S,1
...,...,...,...,...,...,...,...,...,...,...,...
1265,3,"Van Impe, Miss. Catharina",female,10,0,2,345773,24.1500,NaN,S,0
1275,3,"Vander Planke, Mr. Leo Edmondus",male,16,2,0,345764,18.0000,NaN,S,0
1279,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,NaN,S,0
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,NaN,C,1
1304,3,"Zabour, Miss. Hileni",female,14,1,0,2665,14.4542,NaN,C,0

In [42]:
#7. WAQ to retrieve only the passengers who were both female and survived

df[(df['sex'] == 'female') & (df['survived'] == 1)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,1
6,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,1
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,1
11,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18,1,0,PC 17757,227.5250,C62 C64,C,1
12,1,"Aubart, Mme. Leontine Pauline",female,24,0,0,PC 17477,69.3000,B35,C,1
...,...,...,...,...,...,...,...,...,...,...,...
1260,3,"Turja, Miss. Anna Sofia",female,18,0,0,4138,9.8417,NaN,S,1
1261,3,"Turkula, Mrs. (Hedwig)",female,63,0,0,4134,9.5875,NaN,S,1
1286,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38,0,0,2688,7.2292,NaN,C,1
1290,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7.0000,NaN,S,1
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,NaN,C,1

In [43]:
#8. WAQ to retrive the passengers who travelled in either first or second class

df[(df['pclass'] == 1) | (df['pclass'] == 2)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,1
1,1,"Allison, Master. Hudson Trevor",male,1,1,2,113781,151.5500,C22 C26,S,1
2,1,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,0
3,1,"Allison, Mr. Hudson Joshua Creighton",male,30,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,0
...,...,...,...,...,...,...,...,...,...,...,...
595,2,"Wheeler, Mr. Edwin ""Frederick""",male,28,0,0,SC/PARIS 2159,12.8750,NaN,S,0
596,2,"Wilhelms, Mr. Charles",male,31,0,0,244270,13.0000,NaN,S,1
597,2,"Williams, Mr. Charles Eugene",male,28,0,0,244373,13.0000,NaN,S,1
598,2,"Wright, Miss. Marion",female,26,0,0,220844,13.5000,NaN,S,1
599,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24,0,0,248747,13.0000,NaN,S,0

In [44]:
#9. WAQ to find children (passengers under 18) who survived the disaster

df[(df['age'] < 18) & (df['survived'] == 1)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
1,1,"Allison, Master. Hudson Trevor",male,1,1,2,113781,151.5500,C22 C26,S,1
54,1,"Carter, Master. William Thornton II",male,11,1,2,113760,120.0000,B96 B98,S,1
55,1,"Carter, Miss. Lucile Polk",female,14,1,2,113760,120.0000,B96 B98,S,1
92,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17,1,0,17474,57.0000,B20,S,1
94,1,"Dodge, Master. Washington",male,4,0,2,33638,81.8583,A34,S,1
...,...,...,...,...,...,...,...,...,...,...,...
1240,3,"Thomas, Master. Assad Alexander",male,0,0,1,2625,8.5167,NaN,C,1
1244,3,"Thomas, Mrs. Alexander (Thamine ""Thelma"")",female,16,1,1,2625,8.5167,NaN,C,1
1256,3,"Touma, Master. Georges Youssef",male,7,1,1,2650,15.2458,NaN,C,1
1257,3,"Touma, Miss. Maria Youssef",female,9,1,1,2650,15.2458,NaN,C,1
1300,3,"Yasbeck, Mrs. Antoni (Selini Alexander)",female,15,1,0,2659,14.4542,NaN,C,1

In [45]:
#10. WAQ to find all female passengers who travelled in first class

df[(df['sex'] == 'female') & (df['pclass'] == 1)]

,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,survived
0,1,"Allen, Miss. Elisabeth Walton",female,29,0,0,24160,211.3375,B5,S,1
2,1,"Allison, Miss. Helen Loraine",female,2,1,2,113781,151.5500,C22 C26,S,0
4,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25,1,2,113781,151.5500,C22 C26,S,0
6,1,"Andrews, Miss. Kornelia Theodosia",female,63,1,0,13502,77.9583,D7,S,1
8,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53,2,0,11769,51.4792,C101,S,1
...,...,...,...,...,...,...,...,...,...,...,...
311,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45,1,1,36928,164.8667,NaN,S,1
314,1,"Widener, Mrs. George Dunton (Eleanor Elkins)",female,50,1,1,113503,211.5000,C80,C,1
315,1,"Willard, Miss. Constance",female,21,0,0,113795,26.5500,NaN,S,1
319,1,"Wilson, Miss. Helen Alice",female,31,0,0,16966,134.5000,E39 E41,C,1
322,1,"Young, Miss. Marie Grice",female,36,0,0,PC 17760,135.6333,C32,C,1