<a href="https://colab.research.google.com/github/Zoyaarshiya/pandas/blob/main/group_by%20%26%20aggregations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#QUESTIONS ON GROUP BY AND DATA AGGREGATE FUNCTIONS
import pandas as pd

df = pd.read_csv('amazon_fires.csv', encoding='latin1')
df

       ano       mes     estado   numero  encontro
0     1998   Janeiro       Acre  0 Fires  1/1/1998
1     1999   Janeiro       Acre  0 Fires  1/1/1999
2     2000   Janeiro       Acre  0 Fires  1/1/2000
3     2001   Janeiro       Acre  0 Fires  1/1/2001
4     2002   Janeiro       Acre  0 Fires  1/1/2002
...    ...       ...        ...      ...       ...
6449  2012  Dezembro  Tocantins      128  1/1/2012
6450  2013  Dezembro  Tocantins       85  1/1/2013
6451  2014  Dezembro  Tocantins      223  1/1/2014
6452  2015  Dezembro  Tocantins      373  1/1/2015
6453  2016  Dezembro  Tocantins      119  1/1/2016

[6454 rows x 5 columns]

In [14]:
#1. NO OF EMPLOYEES WHO GOT FIRED IN THE MONTH OF JANUARY
df.groupby('mes').size().loc['Janeiro']

np.int64(541)

In [25]:
#2. NO OF PEOPLE WHO GOT FIRED IN 2002(NEED FEATURE ENGINEERING)
df['encontro']
df['year'] = pd.to_datetime(df['encontro']).dt.year
df.groupby('year').size().loc[2002]

np.int64(324)

In [30]:
#3. NO OF FIRES IN YEAR 2001 IN TOCANTINS
df.groupby(['estado', 'year'])['numero'].sum().loc[('Tocantins', 2001)]

'196019483058302.2424.83968410021'

In [32]:
#4. HOW MANY PEOPLE SURVIVED IN B5 CABIN
df=pd.read_csv('titanic.csv')
df.groupby('cabin')['survived'].sum().loc['B5']

np.int64(2)

In [34]:
#5. COUNT OF FEMALES WHOSE AGE IS LESS THAN 20 AND SURVIVED
df.groupby(['sex','age','survived'])['survived'].sum().loc[('female',20,1)]

np.int64(3)

In [36]:
#6. TOTAL FARE PAID BY EMBARKED S FEMALES
df.groupby(['embarked','sex'])['fare'].sum().loc[('S','female')]

np.float64(11447.7378)

In [37]:
#7. COUNT OF PEOPLE IN PCLASS 3 HAVING ONLY 1 PERSON WITH THEM
df.groupby(['pclass','sibsp'])['name'].count().loc[(3,1)]

np.int64(124)

In [38]:
#8. MAXIMUM FARE PAID IN EMBARKED Q
df.groupby('embarked')['fare'].max().loc[('Q')]

np.float64(90.0)

In [40]:
#9. AVG TIME SPEND BY THE PEOPLE IN SUPPORT DEPARTMENT WHO GOT PROMOTED
df=pd.read_csv('hr_data.csv')
df.groupby(['promotion_last_5years','department'])['time_spend_company'].mean().loc[(1,'support')]

np.float64(3.45)

In [42]:
#10. AVG NO OF PROJECTS PEOPLE WITH HIGH SALARY ARE HANDLING IN IT DEPT
df.groupby(['salary','department'])['number_project'].mean().loc[('high','IT')]

np.float64(3.8674698795180724)

In [44]:
#11. TOTAL NUMBER OF PROJECTS HANDLED BY SUPPORT DEPT
df.groupby('department')['number_project'].sum().loc[('support')]

np.int64(8479)

In [47]:
#12. COUNT OF PEOPLE IN SALES DEPT WHO HAVE WORK ACCIDENT
df.groupby(['department','Work_accident'])['Work_accident'].count().loc[('sales',1)]

np.int64(587)